body {
    /* background: linear-gradient(to bottom left,#eff9f0, #ddc8c4);  */
    font-family: 'Lora', ;
    color: #1a090d; 
    background-color: #ecf0f3;
    background-repeat: no-repeat;
    padding: 20px;
  }
  
  .gradient-text {
    background: linear-gradient(45deg, #b3c5d7, #7392b7); /* Define the gradient colors */
    -webkit-background-clip: text; /* For Chrome, Safari, and Opera */
    background-clip: text; /* For other browsers (might not be supported everywhere) */
    color: transparent; /* Make the text color transparent so the gradient shows through */
    font-weight: bold; /* Optional: make the text bold */
    z-index: 10;
}

.box{
  background-color: rgba(249, 252, 253, 0.938);
}